* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #301d17;
}

.SetupMenu {
  width: 1250px;
  padding: 25px;
  background-color: #b68e65;
  border-radius: 25px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SetupMenu .smLabel {
  background-color: #56342a;
  color: #b68e65;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 25px;
  border-radius: 25px;
  padding: 20px 0 20px 0;
}
.SetupMenu .smPlay {
  background-color: #56342a;
  color: #b68e65;
  font-size: 32px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  text-align: center;
  margin: 25px;
  padding: 20px 0 20px 0;
  cursor: pointer;
}
.SetupMenu .playersSetups {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.SetupMenu .playersSetups .playerSetup {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #56342a;
  margin: 25px;
  border-radius: 25px;
}
.SetupMenu .playersSetups .playerSetup label {
  width: 200px;
  padding: 10px 0 10px 0;
  border-radius: 5px;
  background-color: #b68e65;
  color: #301d17;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.SetupMenu .playersSetups .playerSetup select {
  margin: 25px 0 25px 0;
  width: 200px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0 10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #b68e65;
  color: #301d17;
}
.SetupMenu .playersSetups .playerSetup .playerBg {
  width: 200px;
  height: 200px;
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.SetupMenu .playersSetups .playerSetup .playerBg .playerPawn {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 10px solid;
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
}

.PlayingArea {
  display: flex;
  width: 1300px;
  flex-direction: row;
  margin: auto;
  margin-top: 20px;
  border: 6px solid #b68e65;
}
.PlayingArea .PlayMenu {
  height: 800px;
}
.PlayingArea .PlayMenu p {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #b68e65;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.PlayingArea .PlayMenu button {
  color: #b68e65;
  background-color: #56342a;
  padding: 10px;
  margin: 10px;
  border: 2px solid #b68e65;
  font-size: 20px;
  font-weight: 600;
}
.PlayingArea .PlayMenu .Controls {
  display: flex;
  flex-direction: row;
}
.PlayingArea .PlayMenu .Controls .Dice {
  width: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #b68e65;
  background-color: #56342a;
  border: 2px solid #b68e65;
  text-align: center;
}
.PlayingArea .MovesMenu {
  margin-top: 50px;
}
.PlayingArea .MovesMenu p {
  width: 400px;
  color: #b68e65;
}

.Board {
  width: 800px;
  height: 800px;
  background-color: #301d17;
  display: grid;
  grid-template: repeat(11, 1fr)/repeat(11, 1fr);
  gap: 2px 2px;
  border: 2px solid #301d17;
}
.Board .BoardField {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Board .BoardField .Pawn {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 15px;
  border: 2px solid black;
}/*# sourceMappingURL=style.css.map */