* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #301d17;
}

.Game {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SetupMenu {
  width: 1250px;
  height: 820px;
  padding: 25px;
  background-color: #b68e65;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .smLabel {
    background-color: #56342a;
    color: #b68e65;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 25px;
    border-radius: 25px;
    padding: 20px 0 20px 0;
  }

  .smPlay {
    background-color: #56342a;
    color: #b68e65;
    font-size: 32px;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    text-align: center;
    margin: 25px;
    padding: 20px 0 20px 0;
    cursor: pointer;
  }

  .playersSetups {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .playerSetup {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #56342a;
      margin: 25px;
      border-radius: 25px;

      label {
        width: 200px;
        padding: 10px 0 10px 0;
        border-radius: 5px;
        background-color: #b68e65;
        color: #301d17;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
      }

      select {
        margin: 25px 0 25px 0;
        width: 200px;
        font-weight: 600;
        font-size: 16px;
        padding: 10px 0 10px 0;
        text-align: center;
        border: none;
        border-radius: 5px;
        background-color: #b68e65;
        color: #301d17;

        option {
          font-weight: 600;
          font-size: 16px;
        }
      }

      .playerBg {
        width: 200px;
        height: 200px;
        margin: 25px 0 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;

        .playerPawn {
          width: 100px;
          height: 100px;
          border-radius: 50px;
          border: 10px solid;
          text-align: center;
          -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

.SetupMenu.closed {
  width: 160px;
  height: 820px;
  padding: 10px;
  margin-right: 10px;
  background-color: #b68e65;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;

  .smLabel {
    display: none;
  }

  .smPlay {
    display: none;
  }

  .playersSetups {
    flex-direction: column;

    .playerSetup {
      width: 140px;
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #56342a;
      margin: 5px 0 5px 0;
      border-radius: 10px;

      label {
        display: none;
      }

      select {
        display: none;
      }

      .playerBg {
        width: 120px;
        height: 120px;
        margin: 10px;
        border-radius: 10px;

        .playerPawn {
          width: 80px;
          height: 80px;
          border-radius: 40px;
          border: 8px solid;
        }
      }
    }
  }
}

.PlayingArea {
  display: flex;
  width: 1250px;
  height: 820x;
  flex-direction: row;
  border: 10px solid #b68e65;
  border-radius: 10px;

  .PlayMenu {
    height: 800px;
    width: 400px;

    p {
      width: 200px;
      padding: 10px;
      margin: 10px;
      border: 2px solid #b68e65;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }

    button {
      color: #b68e65;
      background-color: #56342a;
      padding: 10px;
      margin: 10px;
      border: 2px solid #b68e65;
      font-size: 20px;
      font-weight: 600;
    }

    .Controls {
      display: flex;
      flex-direction: row;

      .Dice {
        width: 50px;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        color: #b68e65;
        background-color: #56342a;
        border: 2px solid #b68e65;
        text-align: center;
      }
    }

    .MovesMenu {
      margin-top: 50px;

      p {
        width: 350px;
        color: #b68e65;
      }
    }
  }
}

.PlayingArea.closed {
  //display: none;
}

.Board {
  width: 800px;
  height: 800px;
  box-sizing: border-box;
  background-color: #301d17;
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
  gap: 2px 2px;
  border: 2px solid #301d17;

  .BoardField {
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;

    .Pawn {
      width: 26px;
      height: 26px;
      background-color: black;
      border-radius: 13px;
      border: 1px solid black;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    }
  }
}
